*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: black;
}

.wrapper {
  width: 100%;
  height: auto;
}

.nav {
  background-color: white;
}

.header {
  background-color: black;
}

.cover {
  background-color: black;
}

.article1, .article2, .article3 {
  background-color: white;
}

/*MOBILE VIEW*/
@media only screen and (min-width: 375px) {

  .wrapper {
    width: 100%;
    height: 600px;
  }

  .nav {
    width: 100%;
    height: 60px;
    margin: 1% 0;
  }

  .nav-tittle {
    padding-left: 10px;
    padding-top: 20px;
  }

  a {
    display: inline;
    text-decoration: none;
    margin-left: 10px;
    padding: 0;
    font-size: 10px;
    color: black;
  }

  ul {
    margin: 0;
    padding-left: 2%;
    line-height: 0;
  }

  .header {
    width: 100%;
    height: 10%;
    margin: 2% 0;
  }

  .header-first, .header-second {
    text-transform: uppercase;
    color: white;
    margin-left: 10px;
  }

  .header-second {
    line-height: 0px;
    font-size: 12px;
  }

  .header-first {
    letter-spacing: 4px;
  }

  img {
  width: 100%;
  height: 50%;
  }

  .article1, .article2 {
    width: 100%;
    height: 6%;
  }

  .article3 {
    height: 22%;
    margin-top: 10%;
  }

  .p-article1, .p-article2 {
    font-size: 10px;
    padding-top: 3%;
    padding-left: 3%;
  }

  .p-article3 {
    padding: 6%;
    font-size: 15px;
  }
}
/*END MOBILE VIEW*/

/* START OF TABLET VIEW*/
@media only screen and (min-width: 768px) {

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    background-color: white;
    position: relative;
  }

  .wrapper {
    width: 100%;
    height: 100%;
  }

  .nav {
    position: absolute;
    left: 5%; top: 20%;
    border: 1px solid white;
    background-color: white;
    width: 150px;
    height: 150px;
    opacity: 0.8;
  }

  a {
   padding: 5px;
   margin: 5px;
   display: block;
  }

  .header {
    display: none;
    position: absolute;
    left: 17%; top: 90%;
    background-color: transparent;
  }

  .header-first, .header-second {
    position: absolute;
    color: white;
    font-weight: bolder;
  }

  .article1  {
    display: none;
  }
  img {
    width: 100%;
    height: 70%;
    margin-bottom: 1em;
  }
  .article2 {
    width: 49%;
    height: 30%;
    background-color: #051901;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .article3 {
    width: 49%;
    height: 30%;
    background-color: #090808;
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .p-article2, .p-article3 {
    color: white;

  }

  #featured-press {
    position: absolute;
    left: 50%; top: 23%;
    transform: translate(-50%, 50%);
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
  
  #the-books {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
  }
  .p-article3 {
    position: relative;
    font-size: 18px;
    left: 50%; top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
/* END TABLET VIEW -----------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*LAPTOP VIEW*/
@media only screen and (min-width: 1200px) {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  img {
    width: 70%;
    height: 100%;
    padding: 0;
    margin: 0;
    float: left;
  }

  .article1 {
    display: none;
  }

  .article2 {
    float: right;
    width: 29%;
    height: 49.1%;
    padding: 0;
    margin-bottom: 1%;
  }

  .article3 {
    float: right;
    width: 29%;
    height: 49.1%;
    margin: 0;
    padding: 0;
  }

  #featured-press {
    position: absolute;
    left: 50%; top: 30%;
    transform: translate(-50%, 100%);
    font-size: 12px;
  }

  #the-books {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
  }
}
